# Files and directories to ignore
/tests/server/results/log/*
/tests/server/results/report/*
/tmp/*
/vendor/*

composer.lock
npm-debug.log

# Directories files to keep
!/tests/server/results/log/.gitkeep
!/tests/server/results/report/.gitkeep
!/tmp/.gitkeep
!/vendor/.gitkeep
