# Git attributes to ignore selection of files and directories
# when publishing any of releases release.
devel export-ignore
dist export-ignore
scripts export-ignore
src/app export-ignore
tmp export-ignore
tests export-ignore
vendor export-ignore
.* export-ignore
GruntFile.js export-ignore
codecov.yml export-ignore
package.json export-ignore
CONTRIBUTING.md export-ignore

# how diffs are generated
*.php diff=php

# end-of-line normalization
* eol=lf

* text=auto
*.js text
*.html text
*.md text
.gitattributes text
.gitignore text
.scrutinizer.yml text
.travis.yml text
composer.json text
LICENSE text

# for which files we don't want git to compute or print a diff for changes
# binary does unset -text and -diff
*.jpg  binary image
*.jpeg binary image
*.png binary image
