# Do not include CI build scripts
scripts
# Do not include Toolshedr Server source files
src/server/*
# Do not include any tests
tests
# Do not include TMP directory
tmp
# Ignore node_modules
node_modules
# Ignore everything from vendor directory
vendor
# Do not include any .hidden files
.*
# Do not include Codecov config
codecov.yml
# Do not include compose json
composer.json
# Do include Contribution Guidelines in release package. From README you can find all resources and relevant links!
CONTRIBUTING.md
