# Cache
cache:
  directories:
  - vendor
  - tmp

# Prepare build
before_install: true

install: true

# shared before script for job matrix
before_script:
  - "./scripts/travis/before-script.sh"

matrix:
  include:
  #######################
  ## test-php-min
  #######################
  - language: php
    env: test-php-min
    php: 7.0
    branches:
      only:
        - master
    script: 
      - "./scripts/travis/server.sh"
  #######################
  ## test-php-stable
  #######################
  - language: php
    env: test-php-stable
    php: 7.0.10
    branches:
      only:
        - master
    script: "./scripts/travis/server.sh"
    # Only run after_success once with PHP version considered stable
    after_success:
      # This job posts code coverage for Toolshedr Server
      - pip install --user codecov
      - "./scripts/travis/after-success.sh"
  #######################
  ## test-npm-min
  #######################
  - language: node_js
    env: test-npm-min
    node_js: 6.0.0
    branches:
      only:
        - master
    script: "./scripts/travis/ui.sh"
  #######################
  ## test-npm-stable
  #######################
  - language: node_js
    env: test-npm-stable
    node_js: 6.7.0
    branches:
      only:
        - master
    script: "./scripts/travis/ui.sh"
    # Only run after_success once with PHP version considered stable
    after_success:
      # This job posts codec overage for Toolshedr UI
      - pip install --user codecov
      - "./scripts/travis/after-success.sh"
  #######################
  ## deploy-release
  #######################
  - language: ruby 
    rvm: 2.3.1
    env: deploy-release
    before_install:
      - gem install travis
      - gem install waitutil
    script:
      # If ruby script exits with non zero status it will cancel the release
      - ./scripts/travis/build-status.rb
      - export TOOLSHEDR_LAST_COMMIT=`git log --format=fuller -1`
      - export TOOLSHEDR_LAST_RELEASE=`git describe --abbrev=0 --tags`
    before_deploy:
      - nvm install 6.7.0
      - nvm use 6.7.0
      - gem install json
      - gem install compass
      - npm install
      # bump the version string
      # and remove npm commands
      - ./scripts/travis/before-deploy.rb
      # Create dist files for npm package
      - grunt release
    deploy:
      provider: npm
      email: marko.kungla@gmail.com
      api_key:
        secure: K0SUgAAyrhKdvhRsT1K+8gmnA6kTC/GjQlSNdCh5a3KBemgen/DHVagumr+Gl9zQLK9X7OBqSsI3nKZJ61X/S1dxex9nUz7UTU5pWx3Oq/KL+Spmdma+lCJB4jWBskQ7Cchgv9EuSt4f7W0VKQK0r7lSNyIEs0ROnz33ZINHY5b0kYVjtErIYwEwOqaV0aYk5feRVyGlTH9LVT0o6R7mJvFvz6jrkrcj3r8SMvIXRNhdemUkVjzG2bNBlCz3Ast6SmvG5VQ3G9rweR74XcfLev6NmeDyznTKe72DB5tl8ZQQ0/8tGqnpy0ozG+rZvtXIEkK4zyyt63fF74iEAhe35/Z7/JlewYyjPO7BQs90mq7flElT/WG85Z42DL2I9Q1NjD5GgciwEZdupQOW1a/JlLBOQeoy/g6L40//ipo+TIjxkG22XX4TEf6rh9ClkIJX9YRdWY/gH7oqAJfm0Yurqevz8KcfpRNOFIg9TclNaR21cmVEP1B2odCOyNnw5fXFnZCDHH9KmIo5G1mNqxhX8hU6R74lMm0Cxkywe/ZeuRfSxFvLwm80zLxZ+m3qGui0JS2czvtYnROK0Ip0mnNuXr0M0WRD6Bt/1WPFir1XQLy1D33f5nlj2Nl5a2zjZF2FFsLiB3pKpH/ZK+Z5+k0VyPeRMufDy9L7A9uckdgO/Uc=
      on:
        tags: true
        repo: mkungla/toolshedr
