// Toolshedr theme base
@import 'compass';
@import 'compass/css3';

@import 'functions';
@import 'mixins';

#toolshedr {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: lightsteelblue;

  #devel {
    text-align: center;
    font-size: 6rem;
    margin-top: 4rem;
    em {
      font-size: 1.5rem;
    }
  }
}
