#toolshedr {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: lightsteelblue;

  #devel {
    text-align: center;
    font-size: 6rem;
    margin-top: 4rem;
    em {
      font-size: 1.5rem;
    }

    .error-msg {
      color: red;
      font-size: 1.2rem;
    }
    .ok-msg {
      color: green;
      font-size: 1.2rem;
    }
  }
}
